streamlit
pandas
import cv2 
import numpy as np  
from PIL import Image                                                                                                          
from fer import FER   
